html {
  background-color: black;
}

.post_outer_container {
  background-color: rgb(0, 0, 0);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_inner_container {
  overflow: scroll;
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  width: 90%;
  border: rgb(77, 73, 73) solid 1px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 50px;
  border-radius: 30px;
}

.post_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_icons img {
  border-radius: 30px;
  transition: 0.5s;
  height: 20px;
}

.post_icons img:hover {
  transition: 0.5s;
  box-shadow: 0px 0px -2px -2px red;
  scale: 2;
}

.post_icons img:active {
  transition: 0.5s;
  box-shadow: 0px 0px 2px 2px red;
  scale: 2;
}

.poster_name {
  padding-left: 20px;
  color: rgb(193, 240, 240);
}
.post_content {
  word-wrap: break-word;
  width: 30vw;
  padding-left: 20px;
  color: rgb(241, 237, 236);
}

@media (min-width: 220px) and (max-width: 550px) {
  .post_inner_container {
    width: 80%;
  }

  .post_content {
    width: 50vw;
  }
}
@media (max-height: 560px) {
  .post_inner_container {
    width: 75%;
  }
}
