<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media App</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" />
    <script src="{{url_for('static',filename='home.js')}}"></script>
  </head>
  <body>
    {% block title%}
    <div class="other_profile">
      <h1>Social Media App</h1>
      <div class="material-icons">
        <div>
          <span
            class="material-icons-outlined menu_icon"
            id="menu_icon"
            onclick="handleMenu()"
            clicked="true"
          >
            menu
          </span>
        </div>
        <div class="non_menu_icons" id="non_menu_icons">
          <a href="/home">
            <span class="material-icons-outlined"> home </span></a
          >

          <span class="material-icons-outlined"> favorite </span>
          <span class="material-icons-outlined"> search </span>
          {% if name%}
          <a href="/home/profiles/{{name}}">
            <span class="material-icons-outlined"> account_circle </span>
          </a>
          {% else %}
          <span id="conditional_icon"></span>
          {% endif%}
          <a href="/"><span class="material-icons-outlined"> logout </span></a>
        </div>
      </div>
    </div>
    {% endblock%}
    <div class="post_outer_container">
      <div class="post_inner_container">
        <div class="sorting">
          <h3>Sort by:</h3>
          <h3 class="order_links" onclick="orderPosts(this)">New</h3>
          <h3 class="order_links" onclick="orderPosts(this)">Old</h3>
          <h3 class="order_links" onclick="orderPosts(this)">Popular</h3>
        </div>
        {% for post in posts%}
        <div class="post">
          <img
            src="/static/resources/avatar1.jpg"
            alt="avatar"
            class="avatar"
          />
          <div class="post_writing">
            <div class="poster_head">
              <div class="poster_name" onclick="profilePage('{{post[1]}}')">
                {{post[1]}}
              </div>
              <div class="date">{{post[3]}}</div>
            </div>
            <p class="post_content">{{post[2]}}</p>
            <div class="post_icons">
              <div class="material-icons glow_blue">share</div>
              <div class="likes" id="likes{{post[3]}}">
                <div
                  class="material-icons"
                  onclick="handleClick('{{post[3]}}')"
                >
                  favorite_border
                </div>
                <div class="like_no" id="{{post[3]}}" data-clicked="true">
                  {{post[4]}}
                </div>
              </div>
              <div class="material-icons glow_green">question_answer</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="material-icons back-to-top">
      <span class="material-icons-outlined" onclick="toTop()">
        arrow_circle_up
      </span>
    </div>
  </body>
</html>
