<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" />
  </head>
  <body>
    <div class="post_outer_container">
      <div class="post_inner_container">
        {% for post in posts%}
        <div class="post">
          <img
            src="/static/resources/avatar1.jpg"
            alt="avatar"
            class="avatar"
          />
          <div>
            <div class="poster_name">{{post[1]}}</div>

            <p class="post_content">
              {{post[2]}} <br />
              {{post[3]}}
            </p>
            <div class="post_icons">
              <img
                src="/static/resources/red-heart.png"
                alt=""
                onclick="handleClick('{{post[3]}}')"
              />
            </div>
            <p class="post_content" id="{{post[3]}}" data-clicked="true">
              {{post[4]}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script>
      function handleClick(id) {
        num = document.getElementById(id).innerHTML;
        if (
          document.getElementById(id).getAttribute("data-clicked") === "true"
        ) {
          num++;
          document.getElementById(id).innerHTML = num;
          document.getElementById(id).setAttribute("data-clicked", "false");
        } else {
          num--;
          document.getElementById(id).innerHTML = num;
          document.getElementById(id).setAttribute("data-clicked", "true");
        }
        fetch(`${window.origin}/likes`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            num: num,
            id: id,
          }),
        }).then((resp) => console.log(resp));
      }
    </script>
  </body>
</html>
