<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media App/title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}" />
    <script src="{{url_for('static',filename='index.js')}}"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="heading nav_heading"><h1>Social Media App</h1></div>
      <div class="home_link nav_heading">
        <h2 onclick="rerouteHome()">Home</h2>
      </div>
    </div>
    <div class="container">
      <div class="description">
        <h2>Welcome to our app!!</h2>
        <p>
          You can get started by entering your name and your content in the
          given form . If you would like to browse as a guest click on the home
          button
        </p>
      </div>
      <form action="/home" method="POST" onsubmit="return handleClick()">
        <h3>Create Your Post</h3>
        <input
          type="text"
          placeholder="Enter Your Name Here"
          name="name"
          id="name"
        />
        <textarea
          name="content"
          placeholder="Type your Message"
          class="content"
          id="content"
        ></textarea>
        <input type="submit" value="Submit" class="submit" id="submit" />
        <div class="comment" id="comment"></div>
      </form>
    </div>
  </body>
</html>
