<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}" />
  </head>
  <body>
    <div class="navbar">
      <div class="heading nav_heading"><h1>Social Media App</h1></div>
      <div class="home_link nav_heading">
        <h2 onclick="rerouteHome()">Home</h2>
      </div>
    </div>
    <div class="container">
      <form action="/home" method="POST" onsubmit="return handleClick()">
        <h3>Create Your Post</h3>
        <input
          type="text"
          placeholder="Enter Your Name Here"
          name="name"
          id="name"
        />
        <textarea
          name="content"
          placeholder="Type your Message"
          class="content"
          id="content"
        ></textarea>
        <input type="submit" value="Submit" class="submit" id="submit" />
        <div class="comment" id="comment"></div>
      </form>
    </div>
    <script>
      const name = document.getElementById("name");
      const content = document.getElementById("content");
      const submit = document.getElementById("submit");
      function handleClick() {
        if (!name.value) {
          document.getElementById("comment").innerHTML =
            "Please enter your name!";
        } else if (!content.value) {
          document.getElementById("comment").innerHTML =
            "Don't be shy, share something";
        }
        if (!(name.value && content.value)) return false;

        return true;
      }
    </script>
    <script>
      function rerouteHome() {
        location.href = `${window.origin}/home`;
      }
    </script>
  </body>
</html>
