{% extends "home.html"%} {% block title%}
<div class="other_profile">
  <h1>{{name}}</h1>
  <div class="material-icons">
    <div>
      <span
        class="material-icons-outlined menu_icon"
        id="menu_icon"
        onclick="handleMenu()"
        clicked="true"
      >
        menu
      </span>
    </div>
    <div class="non_menu_icons" id="non_menu_icons">
      <a href="/home"> <span class="material-icons-outlined"> home </span></a>

      <span class="material-icons-outlined"> favorite </span>
      <span class="material-icons-outlined"> search </span>
      {% if name%}
      <a href="/home/profiles/{{name}}">
        <span class="material-icons-outlined"> account_circle </span>
      </a>
      {% else %}
      <span id="conditional_icon"></span>
      {% endif%}
      <a href="/"><span class="material-icons-outlined"> logout </span></a>
    </div>
  </div>
</div>

{% endblock%}
